.content p{

    font-family: 'Caveat Brush', sans-serif;
    text-align: left;
    font-size: 24pt;
    color: white;
    margin: 70px 50px 20px 50px;

  }

  .webs {
      display: inline-block;
      padding: 25px;
}

.webs img {
  border: 2px solid white;
  border-radius: 3px;
  margin: 3px;
}

.webs img:hover {
  border: 3px solid white;
  border-radius: 10px;
}

.content h2 {
  color: white;
  font-family: 'Caveat Brush', sans-serif;
  font-size: 24pt;
  margin: 50px;
}
