html {
    height: 100%;}

    body {
        background-color: #b6a996;
        background: url('../images/body_image.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      /*  font-family: helvetica, arial, sans-serif;*/
        font-size: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        min-height: 100%;
}


    #menu{
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid white;
      border-top: none;
      border-radius: 10px;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      -moz-box-shadow: 0 0 10px white;
      -webkit-box-shadow: 0 0 10px white;
      box-shadow: 0 0 10px white;
      text-align: center;
      display: block;
      padding: 10px 10px;
      margin: 0px auto 0px auto;
      max-width: 900px;
      min-width: 850px;
      min-height: 3em;
      font-size: 130%;

}

    .content{
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid white;
      border-bottom-left-radius: 10px;
      -moz-bottom-left-radius:10px;
      -webkit-bottom-left-radius:10px;
      border-bottom-right-radius: 10px;
      -moz-bottom-right-radius:10px;
      -webkit-bottom-right-radius:10px;
      -moz-box-shadow: inset 0 0 10px white;
      -webkit-box-shadow: inset 0 0 10px white;
      box-shadow: inset 0 0 10px white;
      text-align: center;
      display: block;;
      padding: 2px;
      margin: 0px auto 0px auto;
      max-width: 880px;
      min-width: 870px;
      min-height: 50em;
    }

    #adres{
      font-family:"Indie Flower",cursive;
      text-align: center;
      font-size: 36pt;
      color: white;
      align-items: center;
      padding: 10px;
    }
    ul {
       width: auto;;
       padding: 10px;
       margin: 0px auto 0px auto;
       text-align: center;
       list-style-type: none;
       /*float: left;*/
     }

     li{
       font-family:"Indie Flower",cursive;
       font-weight: bold;
       display: inline;
       margin: 0px 3px;
     /*  float: left;*/
       position: relative;
     }

     .menu_drop  li ul {

       display: none;
       position: absolute;
       width: 6em;
       left: 0px;
       top: 70%;
       color: black;

     }
     .menu_drop li li {
       float: none;
       color: black;
     }

     .menu_drop li:hover > ul {
       display: block;
     }


            a {
              color: white;
              text-transform: uppercase;
              text-decoration: none;
              padding: 6px 18px 5px 18px;
            }

            a.read {
              color: white;
              border: 4px solid #cccccc;
              padding: 10px 18px 10px 18px;
              font-size: 24pt;
              border-top-left-radius: 50px 50px;
              -moz-border-radius-top-left: 50px 50px;
              -webkit-border-radius-top-left: 50px 50px;
              border-bottom-right-radius: 50px 50px;
              -moz-border-radius-bottom-right: 50px 50px;
              -webkit-border-radius-bottom-right: 50px 50px;

            }

            a:hover.read, a:hover.navigation {
              color: #aaaaaa;
              -moz-box-shadow: 5px 5px 5px  #003333;
              -webkit-box-shadow: 5px 5px 5px #003333;
              box-shadow: 5px 5px 5px #003333;
              border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
              -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
              -webkit-border-radius:  1em 4em 1em 4em / 2em 1em 2em 1em;}
            }
