.list_prog{
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow: 0 0 10px white;
    -webkit-box-shadow: 0 0 10px white;
    box-shadow: 0 0 10px white;
    text-align: left;
    float: left;
    padding: 4px;
    max-width: 300px;
    min-width: auto;
    min-height: 7em;
    font-size: 100%;
    position: fixed;
    z-index: 50;
    top: 15%;
    left: 2px;
}
.clock{
    background-color: rgba(0, 0, 0, 0.4);
    border: 10px double white;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-align: center;
    float: right;
    padding: 4px;
    max-width: 300px;
    min-width: auto;
    min-height: 2em;
    font-size: 130%;
    position: fixed;
    z-index: 50;
    top: 15%;
    left: 87%;
}

.list_prog h3 {
  font-family:"Indie Flower",cursive;
  font-size: 12pt;
  text-align: center;
  color: white;
  padding: 2px;
}

.list_prog ul {
  font-size: 8pt;
  text-align: left;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.list_prog ul li {
  font-family: 'Life Savers', sans-serif;
  display: block;
  margin-top: 15px;
}

 .list_prog a:hover {
   background-color: rgba(0, 0, 0, 0.6);
   border: 1px solid white;
   border-radius: 10px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   -moz-box-shadow: 0 0 10px white;
   -webkit-box-shadow: 0 0 10px white;
   box-shadow: 0 0 10px white;
}

.list_prog a:active {
  color: black;
}
