body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  background: none;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.for_small {
  position: fixed;
  top: 80px;
  color: white;
  width: 100%;
  height: auto;
  background: rgba(74, 20, 140, 0.8);
}

.show {
  visibility: hidden;
  display: none;
}

.for_small > ul > li {
  list-style: none;
}

.for_small > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

@media all and (max-width: 750px) {
  .menu {
    display: none;
    visibility: hidden;
  }
}

.menu > ul {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > ul > li {
  list-style: none;
  padding-left: 20px;
  display: inline;
}

.menu > ul > li > a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: white;
}

span {
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 18pt;
  font-weight: bold;
  color: white;
}

.underline {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 20px;
  right: 100%;
  bottom: 0px;
  background: #aa00ff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before, .underline:focus:before, .underline:active:before {
  right: 0;
}

#hamburger {
  width: 40px;
  height: 35px;
  position: relative;
  margin: 30px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  visibility: hidden;
  display: none;
}

@media all and (max-width: 750px) {
  #hamburger {
    display: block;
    visibility: visible;
  }
}

.hamburger {
  background: rgba(74, 20, 140, 0.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #5e35b1;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 10px;
}

#hamburger span:nth-child(3) {
  top: 20px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.front {
  background: url("../img/fodd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.start {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.start h1 {
  font-size: 48pt;
  color: white;
  font-family: cursive, sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 3px #880e4f;
}

@media all and (max-width: 1400px) {
  .start h1 {
    font-size: 32pt;
  }
}

@media all and (max-width: 1100px) {
  .start h1 {
    font-size: 24pt;
  }
}

@media all and (max-width: 768px) {
  .start h1 {
    font-size: 16pt;
  }
}

@media all and (max-width: 500px) {
  .start h1 {
    font-size: 12pt;
  }
}

.skewed-bg {
  background: rgba(74, 20, 140, 0.8);
  width: 100%;
  height: 200px;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -58px;
  z-index: 2;
}

.about {
  position: relative;
  background-color: #cfaebe;
  width: 100%;
  height: auto;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@media all and (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.texts2, .texts4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media all and (max-width: 600px) {
  .texts2, .texts4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about > div > div > h3 {
  color: white;
  font-family: sans-serif;
  margin-top: 0;
}

.about > div > div > img {
  margin-bottom: 0;
}

.about > div > div > p {
  font-size: 10pt;
  font-family: sans-serif;
  text-align: justify;
  color: white;
}

.about > div > div > a {
  font-size: 10pt;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.plan,
.odzywianie,
.motywacja,
.trening {
  width: 200px;
  height: 300px;
  padding: 30px;
}

.articles {
  background: #cfaebe;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.art {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 620px) {
  .art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title_art {
  background: white;
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.art_img {
  width: 600px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 1100px) {
  .art_img {
    width: 500px;
  }
}

@media all and (max-width: 850px) {
  .art_img {
    width: 350px;
  }
}

@media all and (max-width: 700px) {
  .art_img {
    width: 300px;
  }
}

.first > .art_img {
  background: url("../img/coffe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second > .art_img {
  background: url("../img/healthy-fruits.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title_art > p {
  font-size: 10pt;
  font-family: sans-serif;
  text-align: center;
}

.title_art > h2 {
  color: #311b92;
  font-family: sans-serif;
  font-weight: bold;
}

.title_art > a {
  text-decoration: none;
  color: #4527a0;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
}

.articles_part_two, .articles_part_three {
  background: #aaaeff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles_part_two > .art > .title_art, .articles_part_three > .art > .title_art {
  background: url("../img/juice.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles_part_two > .art > .art_img, .articles_part_three > .art > .art_img {
  background: url("../img/vegetables.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles_part_two > .second > .art_img, .articles_part_three > .second > .art_img {
  background: #3f51b5;
}

.articles_part_two > .second > .title_art, .articles_part_three > .second > .title_art {
  background: white;
}

.articles_part_two > .second > .art_img > p, .articles_part_three > .second > .art_img > p {
  font-size: 10pt;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}

.articles_part_two > .second > .art_img > h2, .articles_part_three > .second > .art_img > h2 {
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 30px;
  margin-top: 70px;
}

.articles_part_two > .second > .art_img > a, .articles_part_three > .second > .art_img > a {
  text-decoration: none;
  color: #4527a0;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  padding-left: 30px;
}

.articles_part_three > .art > .title_art {
  background: url("../img/blueberies.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles_part_three > .art > .art_img {
  background: url("../img/food-coffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles_part_three > .second > .art_img {
  background: white;
}

.articles_part_three > .second > .title_art {
  background: #3f51b5;
}

.articles_part_three > .second > .art_img > h2 {
  color: #4527a0;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 30px;
  margin-top: 70px;
}

.articles_part_three > .second > .title_art > h2 {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.motivation {
  background: url("../img/motivation.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cytat {
  position: relative;
  top: -250px;
}

.cytat > p {
  font-size: 48pt;
  color: white;
  font-family: cursive, sans-serif;
  font-weight: bold;
}

@media all and (max-width: 1400px) {
  .cytat > p {
    font-size: 32pt;
  }
}

@media all and (max-width: 1100px) {
  .cytat > p {
    font-size: 24pt;
  }
}

@media all and (max-width: 768px) {
  .cytat > p {
    font-size: 16pt;
  }
}

@media all and (max-width: 500px) {
  .cytat > p {
    font-size: 12pt;
  }
}

.cytat > span {
  font-size: 18pt;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

@media all and (max-width: 768px) {
  .cytat > span {
    font-size: 14pt;
  }
}

@media all and (max-width: 500px) {
  .cytat > span {
    font-size: 10pt;
  }
}

.container-skew {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.skewed-left {
  background: #070a25;
  position: relative;
  border: 0;
  padding: 0;
  width: 52%;
  height: 200px;
  top: 30px;
  font-family: sans-serif;
  font-weight: bold;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  transform: skewY(3deg);
  z-index: 1;
  margin: 0;
}

.skewed-right {
  background: #070a25;
  position: relative;
  border: 0;
  padding: 0;
  width: 53%;
  height: 200px;
  top: 30px;
  font-family: sans-serif;
  font-weight: bold;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
  z-index: 2;
  margin: 0;
}

.contact {
  background: #070a25;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1100px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.two_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 768px) {
  .two_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.news,
.aboutus,
.media {
  width: 350px;
  height: 200px;
  padding: 20px;
}

@media all and (max-width: 500px) {
  .news,
  .aboutus,
  .media {
    width: 300px;
    height: 150px;
  }
}

@media all and (max-width: 400px) {
  .news,
  .aboutus,
  .media {
    width: 260px;
    height: 110px;
  }
}

.two_text > div > p {
  font-size: 10pt;
  color: #006064;
  font-family: sans-serif;
}

.two_text > div > h3 {
  color: white;
  font-family: sans-serif;
}

.media > h3 {
  color: white;
  font-family: sans-serif;
}

.media > img:hover {
  background: white;
  border-radius: 100%;
  cursor: pointer;
}
